
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Strona główna</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/categories}">Zapisane kategorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addCategory}">Dodaj kategorię</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addProduct}">Dodaj produkt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/listOfProduct}">Lista produktów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orderForm}">Nowe zamówienie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orderDetails/{id}}">Szczegóły zamówienia</a>
            </li>

