<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Sklep</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Sklepint</span>
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/index}">Strona główna</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/categories}">Zapisane kategorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addCategory}">Dodaj kategorię</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/addProduct}">Dodaj produkt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/listOfProduct}">Lista produktów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orderForm}">Nowe zamówienie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orderDetails/{id}}">Szczegóły zamówienia</a>
            </li>

        </ul>
    </div>
</nav>
<body>

<h1 th:text="'Zamówienie nr '+ ${orderDto.getOrderNumber()}"></h1>
<table class="table-sm">

    <tbody>
    <tr>
        <th scope="row">Adres uzytkownika:</th>
        <td th:text="${orderDto.getUserAddress()}"></td>
    </tr>
    <tr>
        <th scope="row">Adres dostawy:</th>
        <td th:text="${orderDto.getDeliveryAddress()}"></td>
    </tr>
    <tr>
        <th scope="row">Status zamówienia:</th>
        <td th:text="${orderDto.getStatus()}"></td>
    </tr>
    </tbody>
</table>
<br>
<p> Lista zamawianych produktów</p>
<table class="table-sm" id="orderLines">
    <tr>
        <th scope="row">Lp</th>
        <th scope="row">Id</th>
        <th scope="row">Nazwa produktu</th>
        <th scope="row">Cena jednostkowa</th>
        <th scope="row">Ilość</th>
        <th scope="row">Cena całkowita</th>
        <th scope="row">usuń</th>

    <tr>
    <tr th:each="orderLine,iterator: ${orderDto.orderLines}">
        <td th:text="${iterator.index+1}"></td>
        <td th:text="${orderLine.orderLineId}"></td>
        <td th:text="${orderLine.product.productName}"></td>
        <td th:text="${orderLine.product.price}"></td>
        <td th:text="${orderLine.quantity}"></td>
        <td th:text="${orderLine.quantity*orderLine.product.price}" id="loop"></td>
    <td>
        <a class="deleteLink" href="" >delete</a>
    </td>

</tr>
<!--    <tr>-->
<!--        <td colspan="3"></td>-->
<!--        <td id="total"></td>-->
<!--    </tr>-->
</table>
<h2 id="total"></h2>
<script type="text/javascript">
    function totalSum() {
        var TotalValue = 0;

        $("tr #loop").each(function (index, value) {
            currentRow = parseFloat($(this).text());
            TotalValue += currentRow
        });

        document.getElementById('total').innerHTML = TotalValue;
    }

    $(function() {

        totalSum();

    });
    $(document).ready(function() {
        $("#orderLines .deleteLink").on("click",function() {
            var tr = $(this).closest('tr');
            var id = tr.find("td:eq(1)").text();
            var $this = $(this);
            
            $.ajax({
                url: '/api/order/orderLine/' + id,
                type: 'DELETE',
                success: function(result) {
                    var tr = $this.closest('tr');
                    tr.css("background-color","red");

                    tr.fadeOut(400, function(){
                        tr.remove();
                    });
                    setTimeout(function(){
                        totalSum();
                    }, 1000);
                }
            });
            return false;
        });
    });
</script>
    <br>

<h2 th:if="${stockError!=null}" style="font-style: italic; font-weight: bold; color:#ff0000;">Brak produktu
</h2>
  <p> Lista dostępnych produktów</p>
    <table border="10" style="width:100%">
        <tr>
            <th>Id produktu</th>
            <th>Nazwa produktu</th>
            <th>Nazwa kategorii</th>
            <th>Typ produktu</th>
            <th>Cena jednostkowa</th>
            <th>Dostępna ilość</th>
            <th>Dodaj produkt</th>
            <th></th>

        </tr>
        <tr th:each="produkt: ${listOfProducts}">
            <td th:text="${produkt.productId}"></td>
            <td th:text="${produkt.productName}"></td>
            <td th:text="${produkt.productCategory.name}"></td>
            <td th:text="${produkt.productType}"></td>
            <td th:text="${produkt.price}"></td>
            <td th:text="${produkt.quantity}"></td>
            <td>
                <form method="post" th:object="${orderLineForm}"
                      th:action="@{/orderDetails/{id}(id=${orderDto.getOrderNumber()})}">
                    <input type="hidden" name="productId" id="productId" th:value="${produkt.productId}">
                    <input type="text" th:field="*{quantity}">
                    <input type="submit" value="dodaj">

                </form>
            </td>
            <td>
                <!--            <form method="post" th:action="@{/order/{id}/addOrderLine(id=${orderDto.getOrderNumber()})}">-->
                <!--                <input type="text"  >-->
                <!--                <input type="submit" value="dodaj">-->
                <!--            </form>-->
            </td>

            <!--        todo-->
            <!--id produktu do odania do erdelina i jeg ilosc-->
            <!--        wyswietlanie nad tabelą szczegółow zamowienia: adresy, status, wyswietlic w ptli orderliny i napisac sume zamowienia-->
            <!--        dodawanie ordelirnow poprzez resta-->

        </tr>
    </table>
</body>
</html>